h1,h2,h3{
	color: black;
}

p{
	color: black;
	font-size: 1vw;
}

fieldset {
	display:inline-block;
	border-style: solid;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin-left: 20em;
	margin-right: 20em;
}

header {
	background-color: #4272ff;
}

header > p {
	text-align: center;
	font-size: 1.5em;
}

header > h1 {
	text-align:center;
	font-size: 3.5em;
}

nav {
	text-align:center;
	background-color: #d3d3d3;
}

nav > ul,li {
	display:inline-block;
	padding-right: 1.5em;
	list-style:none;
}

li > a {
	text-decoration: none;
	width: 10em;
}

footer {
	font-size: small;
	margin: inherit; 
}

@font-face {
	font-family: system;
    font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Tahoma");
}

body {
	font-family: "system";
}

main-area {
	align-items: center;
	margin: inherit; 
}

table, th, td {
	border: 2px solid black;
}

button {
	width: 100%;
}