<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}" />
    <meta charset="utf-8" />
</head>
<body>
	<div class="flex-container">
				<div>
					<header>
						<br>
						<h1>Takasivu</h1>
						<p></p>
					<br>
					</header>
				</div>
				<div>
					<nav>
						<ul>
						<li><a class="ui-button ui-widget ui-corner-all" href="index">Etusivu</a></li>
						</ul>
					</nav>
				</div>
				<div>
					<footer>
		
					</footer>
				</div>
			</div>
	<div id="main-area">
		<br />
		<p>Lähdekoodi: <a href="https://bitbucket.org/Insill/hakaniemi">https://bitbucket.org/Insill/hakaniemi</a></p>
		{{ content }}
	</div>
</body>
</html>