<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head> 
        <title>Etusivu</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}" />
        <meta charset="utf-8" />
    </head>
    <body>
	<div class="flex-container">
			<div>
				<header>
					<br>
					<h1>Etusivu</h1>
					<p>Hakaniemen kauppahallin energiankulutus 2019</p>
				<br>
				</header>
			</div>
			<div>
				<nav>
					<ul>
					<li><button class="ui-button ui-widget ui-corner-all" name="button">Paina tästä</button></li>
					<li></li>
					<li><a href="about"><button class="ui-button ui-widget ui-corner-all" >About</button></a></li>
					</ul>
				</nav>
			</div>
			<div id="main-area">
				<br />
				<span>
				{{ content }}
				</span>
			</div>
			<div>
				<footer>
		
				</footer>
			</div>
		</div>

    </body>
</html>